body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

.container {
  padding: 30px;
  box-sizing: border-box; // padding входит в высоту
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
}

h1 {
  text-align: center;
}