$galleryHeight: calc(100vh - 110px); // todo: придумать что-нибудь, чтобы мы могли определять высоту свайпера извне

.gallery {
  width: 100%;
  max-height: 100%;

  &-container {

    width: 100%;
    height: $galleryHeight;

    overflow-x: auto;
    position: relative; // если будем добавлять какие-либо элементы еще
    scrollbar-width: none;
    scroll-snap-type: x mandatory; // добавляет свайп-эффект с остановкой на фотографии
    // mandatory - прокрутка остановится в точках привязки scroll-snap-align
    // proximity - делает залипание менее строгим (срабатывает только при медленной прокрутке).
    display: flex;

    &::-webkit-scrollbar {
      display: none;
    }

    &-item {
       min-width: 100%;
      height: $galleryHeight;
      text-align: center;
      scroll-snap-align: start;
      scroll-snap-stop: always;

      background: url('/loader.gif') center center no-repeat;
      background-size: 50px 50px ;
    }
  }

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
  }
}
